// Reset dos componentes
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

// Variáveis globais
$pure-white: #ffffff;
$second-white: #f8f8f8;
$third-white: #ededede1;
$grey: #b0b0b0;
$black: #121212;
$wrong: #282828;
$alert: #5c5c5c;

/* Variáveis para fontes */
$inter-font: 'Inter', sans-serif;
$playwrite-font: 'Playwrite IN', sans-serif;
$poppins-font: 'Poppins', sans-serif;
$roboto-slab-font: 'Roboto Slab', serif;

/* Variáveis para tamanho das fontes */
$font-title: clamp(2rem, 4vw, 3rem); // Mínimo 32px, ideal 4vw, máximo 48px
$font-sbutitle: clamp(1.25rem, 3vw, 2rem); // Mínimo 20px, ideal 3vw, máximo 32px
$font-text: clamp(1rem, 2vw, 1.25rem); // Mínimo 16px, ideal 2vw, máximo 20px
$font-text2: clamp(1rem, 1.5vw, 1rem); // Mínimo 14px, ideal 1.5vw, máximo 16px

// Defina os valores para espaços
$space-small: 12px;
$space-medium: 22px;
$space-large: 32px;
$img-icon: 60px;
$img-small: 120px;
$img-medium: 320px;
$img-large: 1000px;

// Variáveis de Layout
%flex-center {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    margin-bottom: 32px;
    align-items: flex-start;
}

%flex-start {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 12px;
    margin: 32px 0;
    align-items: flex-start;
}

%flex-aside {
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 22px;
    margin-bottom: 32px;
    justify-content: flex-start;
}

%flex-duo {
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 12px;
    justify-content: flex-start;
}

%flex-row {
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 32px;
    margin: 32px 0;
    justify-content: center;
}

%flex-grid {
    width: -webkit-fill-available;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $space-medium;
    margin: 32px 0;
}

%center-wrap {
    width: -webkit-fill-available;
    display: flex;
    gap: 22px;
    margin: 32px 0;
    justify-content: center;
    justify-items: stretch;
    align-items: flex-start;
    flex-wrap: wrap;
}

// Componentes gerais
.fidelity-content {
    @extend %flex-center;
    font-family: $poppins-font;
    background-color: #f0f0f0;
    margin-bottom: 0px !important;
    scrollbar-width: thin;
    scrollbar-color: rgb(204, 204, 204) rgb(241, 241, 241);
}

// Header
.fidelity-header {
    @extend %flex-aside;
    border-radius: 0px;
    padding: 150px 90px;
    --s: 37px;

    --c: #0000, #0a0a0a 0.5deg 119.5deg, #0000 120deg;
    --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
    --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
    --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
    background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
        var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
        var(--g3) 0 calc(1.73 * var(--s)) #000000;
    background-size: calc(2 * var(--s)) calc(3.46 * var(--s));

    scrollbar-width: thin;
    scrollbar-color: rgb(204, 204, 204) rgb(241, 241, 241);

    &__group {
        width: 100%;
        margin-right: auto;

        &-title {
            color: $pure-white;
            font-size: $font-title;
            margin-bottom: $space-medium;
            margin-right: auto;
            margin-bottom: 22px;
            font-weight: 600;
            line-height: 50px;

        }

        &-text {
            font-size: $font-text;
            color: $pure-white;
            line-height: 22px;
        }
    }

    // Consulta de saldo e cashback
    &__consult {
        background-color: #ffffff;
        padding: $space-large;
        border-radius: 8px;
        gap: 3px;
        width: 500px;
        display: flex;
        flex-direction: column;

        &-title {
            font-size: $font-text;
            font-weight: 600;
        }

        &-text {
            font-size: $font-text;
        }

        &-inputs {
            width: 100%;
            display: flex;

            &--text {
                width: -webkit-fill-available;
                padding: 10px 10px;
                border-radius: 4px 0px 0px 4px;
                border: 1px solid $third-white;
                font-size: $font-text2;
            }

            &--button {
                transition: ease-in-out 0.2s;
                border-radius: 0px 4px 4px 0px;
                padding: 10px 0px;
                width: 40%;
                border: none;
                background-color: $wrong;
                color: $pure-white;
                font-size: $font-text2;
            }
        }
    }
}

// Main
.fidelity-main {
    width: 100%;
    scrollbar-width: thin;
    scrollbar-color: rgb(204, 204, 204) rgb(241, 241, 241);

    // Passo a passo até o resgate do cashback
    .fidelity-steps {
        @extend %flex-row;
        width: 90%;
        background-color: #ffffff;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.137254902);
        z-index: 1;
        border-radius: $space-small;
        margin: -130px auto 32px auto;

        &__item {
            padding: $space-large $space-medium;
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 30%;
            text-align: center;
        }

        &__item-focus {
            padding: 42px;
            background-color: $alert;
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 35%;
            border-radius: 0px $space-small $space-small 0px;
            color: $pure-white;
            text-align: center;
        }

        &__img-1 {
            background-image: url(https://cdn.fidelizarmais.com/files/production/0f6b8e67-a89b-4a4d-bc3e-cb6e72c7e879/landing-page/assets/imgs/float-1.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: $img-icon;
            height: $img-icon;
        }

        &__img-2 {
            background-image: url(https://cdn.fidelizarmais.com/files/production/0f6b8e67-a89b-4a4d-bc3e-cb6e72c7e879/landing-page/assets/imgs/float-3.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: $img-icon;
            height: $img-icon;
        }

        &__img-3 {
            background-image: url(https://cdn.fidelizarmais.com/files/production/0f6b8e67-a89b-4a4d-bc3e-cb6e72c7e879/landing-page/assets/imgs/float-5.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: $img-icon;
            height: $img-icon;
        }

        &__text {
            font-size: $font-text2;
            margin-top: $space-medium;
        }

        &__arrow {
            background-image: url(https://cdn.fidelizarmais.com/files/production/0f6b8e67-a89b-4a4d-bc3e-cb6e72c7e879/landing-page/assets/imgs/float-2.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: auto;
            width: $img-icon;
            height: $img-icon;
        }

        &__equals {
            background-image: url(https://cdn.fidelizarmais.com/files/production/0f6b8e67-a89b-4a4d-bc3e-cb6e72c7e879/landing-page/assets/imgs/float-4.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: auto;
            width: $img-icon;
            height: $img-icon;
        }
    }

    // Indique e ganhe pontos
    .fidelity-indicate {
        @extend %flex-aside;
        width: 85%;
        margin: auto;

        &__grup {
            @extend %flex-start
        }

        &__title {
            width: 100%;
            font-size: $font-sbutitle;
            color: $black;
            font-weight: 600;
        }

        &__text {
            width: 100%;
            font-size: $font-text2;
            color: $black;

            &__focus {
                font-weight: 600;
            }
        }

        &__info {
            @extend %flex-start;

            &-text {
                width: 100%;
                font-size: $font-text2;
                color: $black;
                font-weight: 600;
            }

            &-subtext {
                width: 100%;
                font-size: $font-text2;
                color: $black;
                font-weight: 600;
            }

            &-focus {
                font-size: $font-text2;
                color: $wrong;
                font-weight: 600;
            }
        }

        &-area {
            @extend %flex-start;
            background-color: $second-white;
            padding: $space-medium;
            border-radius: $space-small;
            border: 1px solid $third-white;
            max-width: 500px;

            &__title {
                font-size: $font-sbutitle;
                color: $black;
                font-weight: 600;
            }

            &__text {
                font-size: $font-text2;
                color: $black;
            }

            &-inputs {
                width: 100%;
                display: flex;

                &__text {
                    width: -webkit-fill-available;
                    padding: 10px 10px;
                    border-radius: 4px 0px 0px 4px;
                    border: 1px solid $third-white;
                    font-size: $font-text2;
                }

                &__btn {
                    border-radius: 0px 4px 4px 0px;
                    padding: 10px 0px;
                    width: 40%;
                    border: none;
                    background-color: $wrong;
                    color: $pure-white;
                    font-size: $font-text2;
                }
            }

        }

        &-imagem {
            @extend %flex-aside;
            width: 100%;
            margin-bottom: $space-small;
        }

        &-imagens {
            @extend %flex-duo;
            padding: $space-small;
            border: 1px solid $grey;
            border-radius: 4px;
            height: $space-large;
            margin: auto;
            text-align: center;

            &__whats {
                background-image: url(https://cdn.fidelizarmais.com/files/production/0f6b8e67-a89b-4a4d-bc3e-cb6e72c7e879/landing-page/assets/imgs/lupi-whats-icon-filled.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 10%;
                height: $space-medium;
            }

            &__email {
                background-image: url(https://cdn.fidelizarmais.com/files/production/0f6b8e67-a89b-4a4d-bc3e-cb6e72c7e879/landing-page/assets/imgs/lupi-email-icon-filled.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 10%;
                height: $space-medium;
            }
        }
    }

    // Como funciona o clube de fidelidade
    .fidelity-howfunc {
        @extend %flex-aside;
        width: 85%;
        margin: 32px auto;

        &-section {
            @extend %flex-center;

            &__title {
                color: $black;
                font-size: $font-sbutitle;
                font-weight: 600;
            }

            &__text {
                color: $black;
                font-size: $font-text2;
            }

            &__focus {
                font-size: $font-text2;
                color: $black;
                font-weight: 600;
            }

            &__focus2 {
                font-size: $font-text2;
                color: $wrong;
                font-weight: 600;
            }

            &__cards {
                @extend %flex-aside;

            }
        }

        &-cardred {
            min-height: 190px;
            background-color: $wrong;
            padding: $space-large;
            border-radius: 8px;

            &__title {
                font-size: $font-text;
                font-weight: 600;
                color: $pure-white;
            }

            &__text {
                font-size: $font-text2;
                color: $pure-white;
            }
        }

        &-card {
            min-height: 190px;
            background-color: $second-white;
            padding: $space-large;
            border-radius: 8px;

            &__title {
                font-size: $font-text;
                font-weight: 600;
                color: $black;
            }

            &__text {
                font-size: $font-text2;
                color: $black;
            }
        }

        &-img {
            background-image: url(https://i.ibb.co/Q7Cbsd8y/img-Client2.png);
            background-position: right;
            background-repeat: no-repeat;
            background-size: contain;
            width: 100%;
            height: 570px;
        }
    }

    // Como ganhar pontos
    .fidelity-collect {
        @extend %flex-center;
        background-color: $alert;
        padding: 62px 0px;
        margin: 32px auto;
        width: -webkit-fill-available;

        &-section {
            @extend %flex-center;
            padding: $space-large;
            background-color: $pure-white;
            width: 70%;
            border-radius: 12px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.137254902);
            margin: auto;
        }

        &__text-focus {
            text-align: center;
            width: 100%;
            margin: auto;
            font-weight: 600;
            color: $wrong;
            font-size: $font-text;
        }

        &__title {
            width: 100%;
            text-align: center;
            margin: auto;
            font-weight: 600;
            color: $black;
            font-size: $font-sbutitle;
        }

        &__grup {
            @extend %flex-row;
        }

        &__box {
            min-height: 350px;
            padding: 0px $space-large;
            border-radius: 12px;
            border: 1px solid $grey;
            text-align: center;

            &-img {
                margin: $space-medium;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                width: $img-icon;
                height: $img-icon;

                &--1 {
                    width: inherit;
                    background-image: url(https://cdn.fidelizarmais.com/files/production/0f6b8e67-a89b-4a4d-bc3e-cb6e72c7e879/landing-page/assets/imgs/forma-1.png);
                }

                &--2 {
                    width: inherit;
                    background-image: url(https://cdn.fidelizarmais.com/files/production/0f6b8e67-a89b-4a4d-bc3e-cb6e72c7e879/landing-page/assets/imgs/forma-2.png);
                }

                &--3 {
                    width: inherit;
                    background-image: url(https://cdn.fidelizarmais.com/files/production/0f6b8e67-a89b-4a4d-bc3e-cb6e72c7e879/landing-page/assets/imgs/forma-3.png);
                }
            }

            &-text {
                text-align: center;
                width: 70%;
                margin: auto;
                font-weight: 600;
                color: $black;
                font-size: $font-text;
            }

            &-description {
                text-align: center;
                width: 70%;
                margin: auto;
                color: $black;
                font-size: $font-text2;
                margin-bottom: $space-large;
            }
        }
    }

    // Como resgatar cashback
    .fidelity-rewards {
        @extend %flex-center;
        width: 85%;
        margin: 32px auto;

        &__title {
            width: 100%;
            text-align: center;
            margin: auto;
            font-weight: 600;
            color: $black;
            font-size: $font-sbutitle;
        }

        &__text {
            width: 100%;
            text-align: center;
            margin: auto;
            color: $black;
            font-size: $font-text;
        }

        &__focus {
            font-weight: 600
        }

        &__grid {
            @extend %flex-grid;

            .fidelity-rewards__item {
                background-color: $pure-white;
                padding: $space-medium;
                border: 1px solid $third-white;
                border-radius: 12px;
                box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.037);

                &-img {
                    @extend %flex-center;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 100%;
                    height: 220px;

                    &--1 {
                        background-image: url(https://cdns.fidelizarmais.com/files/production/0f6b8e67-a89b-4a4d-bc3e-cb6e72c7e879/landing-page/assets/imgs/redeem-cashback-1.svg);
                    }

                    &--2 {
                        background-image: url(https://cdns.fidelizarmais.com/files/production/0f6b8e67-a89b-4a4d-bc3e-cb6e72c7e879/landing-page/assets/imgs/redeem-cashback-2.png);
                    }

                    &--3 {
                        background-image: url(https://cdns.fidelizarmais.com/files/production/0f6b8e67-a89b-4a4d-bc3e-cb6e72c7e879/landing-page/assets/imgs/redeem-cashback-3.svg);
                    }

                    &--4 {
                        background-image: url(https://cdns.fidelizarmais.com/files/production/0f6b8e67-a89b-4a4d-bc3e-cb6e72c7e879/landing-page/assets/imgs/redeem-cashback-4.png);
                    }

                    &--5 {
                        background-image: url(https://cdns.fidelizarmais.com/files/production/0f6b8e67-a89b-4a4d-bc3e-cb6e72c7e879/landing-page/assets/imgs/redeem-cashback-5.png);
                    }

                    &--6 {
                        background-image: url(https://cdns.fidelizarmais.com/files/production/0f6b8e67-a89b-4a4d-bc3e-cb6e72c7e879/landing-page/assets/imgs/redeem-cashback-6.png);
                    }
                }

                &-focus {
                    background-color: $wrong;

                    &__title {
                        width: 100%;
                        font-weight: 600;
                        font-size: $font-text2;
                        color: $pure-white;
                    }

                    &__text {
                        width: 100%;
                        font-size: $font-text2;
                        color: $pure-white;
                    }
                }

                &-title {
                    width: 100%;
                    margin: auto;
                    font-weight: 600;
                    color: $black;
                    font-size: $font-text2;
                }

                &-text {
                    width: 100%;
                    margin: auto;
                    color: $black;
                    font-size: $font-text2;
                }
            }
        }

        &__end {
            @extend %flex-center;
            width: 100%;
        }

        &__img {
            margin: $space-large auto auto auto;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: $img-icon;
            height: $img-icon;
            background-image: url(https://cdns.fidelizarmais.com/files/production/0f6b8e67-a89b-4a4d-bc3e-cb6e72c7e879/landing-page/assets/imgs/shinny-stars.png);
        }

        &__text {
            margin: auto;
            color: $black;
            font-size: $font-text2;
            max-width: 500px;
            text-align: center;
        }
    }

    // Como utilizar o Clube
    .fidelity-useclub {
        @extend %flex-aside;
        width: 85%;
        margin: 32px auto;

        &__image {
            margin-right: 32px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 700px;
            background-image: url(https://i.ibb.co/G4kcxh77/img-Client3.png);
        }

        &__info {
            @extend %flex-start;

            &-title {
                font-weight: 600;
                color: $black;
                font-size: $font-sbutitle;
            }

            &-text {
                margin: auto;
                color: $black;
                font-size: $font-text2;
            }

            .fidelity-useclub__steps {
                @extend %flex-start;
            }

            .fidelity-useclub__step {
                @extend %flex-duo;
                background-color: $second-white;

                &-number {
                    border-radius: 8px;
                    font-size: $font-text;
                    background-color: $wrong;
                    padding: $space-small $space-medium;
                    color: $pure-white;
                    width: 12px;
                    text-align: center;
                }

                &-text {
                    color: $black;
                    font-size: $font-text2;
                    font-weight: 600;
                }
            }

        }
    }

    // Galeria de imagens no carrossel
    .fidelity-gallery {
        @extend %flex-start;
        width: 95%;
        margin: auto;

        &__title {
            width: 100%;
            font-weight: 600;
            color: $black;
            font-size: $font-sbutitle;
        }

        &__carroussel {
            @extend %flex-aside;
            position: relative;
            width: 95%;
            height: 250px;
            overflow: hidden;
            display: flex;
            gap: 20px;
            padding: 20px 0;
            margin: auto;
            margin-bottom: 32px;
        }

        &-img {
            flex: 0 0 calc(33.333% - 40px);
            transition: all 0.5s ease;
            transform-origin: center;
            opacity: 0.7;
            position: absolute;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 320px;
            height: 320px;
        }

        &__1 {
            background-image: url(https://i.ibb.co/G4kcxh77/img-Client3.png);
        }

        &__2 {
            background-image: url(https://i.ibb.co/Q7Cbsd8y/img-Client2.png);
        }

        &__3 {
            background-image: url(https://i.ibb.co/G4kcxh77/img-Client3.png);
        }

        &__4 {
            background-image: url(https://i.ibb.co/Q7Cbsd8y/img-Client2.png);
        }

        &__5 {
            background-image: url(https://i.ibb.co/G4kcxh77/img-Client3.png);
        }

        &__6 {
            background-image: url(https://i.ibb.co/Q7Cbsd8y/img-Client2.png);
        }

        &__7 {
            background-image: url(https://i.ibb.co/G4kcxh77/img-Client3.png);
        }

        &__8 {
            background-image: url(https://i.ibb.co/Q7Cbsd8y/img-Client2.png);
        }
    }

    // Itens de resgate e pontos
    .fidelity-emphasis {
        @extend %flex-center;
        background-color: $second-white;
        padding: $space-large;
        border-radius: 12px;
        width: -webkit-fill-available;
        margin: auto;

        &__title-focus {
            text-align: center;
            width: 100%;
            margin: auto;
            color: $wrong;
            font-size: $font-text;
        }

        &__title {
            text-align: center;
            width: 100%;
            margin: auto;
            font-weight: 600;
            color: $black;
            font-size: $font-sbutitle;
        }

        &__offers {
            @extend %center-wrap;
        }

        &__item {
            width: auto;
            background-color: $pure-white;
            padding: $space-medium;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.037);
            border-radius: 8px;

            &-text {
                display: flex;
                align-items: center;
                text-align: center;
                width: 100%;
                text-align: center;
                color: $black;
                font-size: $font-text2;
                padding-bottom: $space-small;

            }

            &-text-focus {
                text-align: center;
                width: 95%;
                background-color: $third-white;
                padding: $space-small;
                box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.037);
                border-radius: 8px;
                text-align: center;
                font-weight: 600;
                color: $black;
                font-size: $font-text;
            }
        }
    }

    .fidelity-footer {
        width: 100%;
        margin: auto;
        color: $grey;
        text-align: center;
        padding: $space-large 0px;
        font-size: $font-text2;

        &__text {
            text-align: center;
            margin: auto;

            strong {
                font-weight: 600;
            }
        }
    }
}