/* Definição de fontes */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+IN:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');


/* Variáveis para fontes */
$inter-font: 'Inter', sans-serif;
$playwrite-font: 'Playwrite IN', sans-serif;
$poppins-font: 'Poppins', sans-serif;
$roboto-slab-font: 'Roboto Slab', serif;

/* Variáveis para tamanho das fontes */
$font-title: clamp(2rem, 4vw, 3rem); // Mínimo 32px, ideal 4vw, máximo 48px
$font-sbutitle: clamp(1.25rem, 3vw, 2rem); // Mínimo 20px, ideal 3vw, máximo 32px
$font-text: clamp(1rem, 2vw, 1.25rem); // Mínimo 16px, ideal 2vw, máximo 20px
$font-text2: clamp(0.875rem, 1.5vw, 1rem); // Mínimo 14px, ideal 1.5vw, máximo 16px

$pure-white: #ffffff;
$second-white: #f8f8f8;
$third-white: #ededede1;
$grey: #b0b0b0;
$black: #121212;
$wrong: #282828;
$alert: #5c5c5c;
